<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DNS Lookup</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 70%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
<center>
    <div class="row"><h1>DNS Lookup Application</h1></div>
    <div class="row">
        <form action="{% url 'compute' %}" method="post">
            {% csrf_token %}
            <h3>Domain Name:
                <input id="url" name="url" class="text" placeholder="Please type a domain name">
                <button type="submit">Go</button>
            </h3>
        </form>

    </div>
</center>

<div class="row">
    <br><br>
    <center>
        {% if error %}
            <h3 style="color: red">{{ error }}</h3>
        {% endif %}
        <h2>DNS Lookup Table</h2>
        <table>
            <tr>
                <th>Class</th>
                <th>Canonical Name</th>
                <th>Url</th>
                <th>IPv4 Address</th>
                <th>IPv6 Address</th>
            </tr>
            {% if canonical and url and class_with_subdomain %}
                {% for i in class_with_subdomain %}
                    <tr>
                        <td>Class {{ i.0 }}</td>
                        <td>{{ canonical }}</td>
                        <td>{{ url }}</td>
                        <td>{{ i.1 }}</td>
                        <td>{{ i.2 }}</td>
                    </tr>
                {% endfor %}
            {% endif %}


        </table>
    </center>

</div>
</body>
</html>